.tonateHistoryBoxWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 303px;
  height: 86px;
  padding: 16px;
  gap: 8px;
  background: #2a313e;
  border-radius: 10px;
}

.tonateHistoryBox {
  display: flex;
  align-items: center;
  gap: 15px;
}

.tonImage {
  background-image: url("../assets/TON.png");
  width: 55px;
  height: 55px;
}

.tonateInfo {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 5px;
}

.tonateInfo span:nth-child(1) {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.tonateInfo span:nth-child(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #9d9d9d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tonateInfo span:nth-child(3) {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #747474;
}
